body {
    background-color: #24353F;
    font-family: 'Titillium Web', sans-serif;
}

.main {
    box-shadow:  -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

h1 {
    color: #17A2B8;
}
.navbar{
    height: 20px;
}
.navbar .navbar-brand{
    color: white;
}